<!DOCTYPE html>
<html>

<head>
  <title>DesafioJaya</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
          <%= stylesheet_pack_tag 'application' %>

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <% if user_logged_in? %>
    <nav class="amber darken-1">
      <div class="nav-wrapper container">
        <a href="#" class="right">
          <%= current_user["first_name"] + " " + current_user["last_name"] %>
        </a>

        <img src="<%= current_user['photo_thumb'].to_s %>" class="profile-img right" />
      </div>
    </nav>
    <% end %>
      <div class="container">
        <%= yield %>
      </div>
</body>

</html>